#background-total-wrapper {
	width: 100%;
	max-height: 100%;

	overflow: hidden;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	position: absolute;
	z-index: -10;
}

#background-text {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0 auto;
	color: rgba(255, 255, 255, 0.5);
	white-space: pre;
    margin-top: 2%;
}

#background-text p {
	margin: 0;
	font-size: 14px
}

