div.top-bar-container {
    padding: 0;
}

img.prof-pic {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 225px;
    max-height: 225px;
    border: 2px solid rgba(0, 0, 0, 0.8);
    outline: 3px solid rgba(255,255, 255, 0.5);
}

div.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div#personal-info {
    text-align: center;
    padding-top: 10px;
}

header#app-bar {
    background: #bdc3c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #bdc3c7, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #bdc3c7, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p#name {
    font-size: 48px;
}

p#contact-info {
    font-size: x-large;
}

@media only screen and (min-width: 992px){
    div#left-summary {
        border-radius: 15px 0px 0px 15px;
        border-right: 1.5px solid #3385ff;
        margin-left: 15%;
    }

    div#center-summary {
        border-left: 1.5px solid #3385ff;
        border-right: 1.5px solid #3385ff;
    }

    div#right-summary {
        border-radius: 0px 15px 15px 0px;
        border-left: 1.5px solid #3385ff;
        margin-right: 27%;
    }

    div.prof-pic {
        margin-right: 20%;
    }
}

@media only screen and (max-width: 991px) {
    div#left-summary {
        border-top: 2px solid #bdc3c7;
    }

    div#left-content {
        margin-left: 2%
    }

    div#center-summary {
        border-top: 2px solid #bdc3c7;
    }

    div#center-content {
        margin-left: 2%;
    }

    div#right-summary {
        border-top: 2px solid #bdc3c7;
    }

    div#right-content {
        margin-left: 2%;
    }

    div#top-bar-wrap {
        padding: 0;
        width: 100%;
    }
}


