.top-bar-container {
    width: 100%;
    margin-left: 0;
    padding: 0;
}

.prof-pic {
    padding-bottom: 10px;
    align-items: center;
    margin: auto;
}

.logo-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#personal-info {
    text-align: center;
    padding-top: 10px;
}

#tool-bar {
    background: #bdc3c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #bdc3c7, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #bdc3c7, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#app-bar {
    background: #bdc3c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #bdc3c7, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #bdc3c7, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (min-width: 600px){
    #left-summary {
        border-radius: 15px 0px 0px 15px;
        border-right: 1.5px solid #FFFFFF;
    }

    #center-summary {
        border-left: 1.5px solid #FFFFFF;
        border-right: 1.5px solid #FFFFFF;
    }

    #right-summary {
        border-radius: 0px 15px 15px 0px;
        border-left: 1.5px solid #FFFFFF;
    }
}

@media only screen and (max-width: 599px) {
    #left-summary {
        border-top: 2px solid #bdc3c7;
    }

    #center-summary {
        border-top: 2px solid #bdc3c7;
    }

    #right-summary {
        border-top: 2px solid #bdc3c7;
    }
}


