.full-wrap{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    z-index: -1;
    overflow: hidden;
}

.me {
    text-align: center;
    font-size: 18px;
    position: relative;
}

.about {
    text-align: center;
    width: 30%;
    max-width: 30%;
    left: 0;
    max-height: 100%;
    position: fixed;
    overflow-y: auto;

}

.about::-webkit-scrollbar {
    left: 0;
    width: 0.1em;
}

.about::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.about::-webkit-scrollbar-thumb {
    background-color: #3385ff;
    outline: 1px solid red;
}

.title {
    text-align: center;
}

.prof-pic{
    position: relative;
    padding-top: 15px;
    max-width: 175px;
    max-height: 175px;
}
.portfolio-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 69%;
    height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.right-wrap{
    right: 0;
    transform: scale(5.5, 5.5);
    margin-right: 10px;
}

.right-wrap-hover{
    right: 0;
    margin-right: 10px;
    transition-property: all;
    transition-duration: .3s;
    transform: scale(5.2, 5.2);
}

.left-wrap{
    left: 0;
    transform: scale(5.5, 5.5);
    margin-left: 10px;
}

.left-wrap-hover{
    left: 0;
    margin-left: 10px;
    transition-property: all;
    transition-duration: .3s;
    transform: scale(5.2, 5.2);
}
